*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: rgb(7, 11, 30);
    color: rgb(222, 215, 215);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}


.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    text-decoration: none;
   color:white;
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    

    }

.cabecalho-lista-item :hover {

    color: #D5447E;
            background-color: #fff; 

            transition: 0.5s;
            
            opacity: 0.5;
    }
.tecnico-imagem{
    width: 30%;
}
#tecnico{
    background-image: linear-gradient(#0E0229,#4010AB);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.tecnico-div-conteudo{
    width: 35%;
}
.tecnico-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    height: 120px;
}
.estudante-icone{
    width: 24px;
}
.estudante-div{
    text-align: center;
}
.estudante-titulo{
    text-align:center;
    padding: 50px 0;
}
.estudantes-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 50px;
}

#historia{
    background-image: linear-gradient(#0E0229,#4010AB);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.rodape{
    background-color: #36F017;
    text-align:center;
    padding: 50px 0;
}

